
/*------------------- Begin Footer -------------------*/

footer {
  position: relative;
  clear: both;
  margin-top: -80px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #979797;
}

footer p {
  padding: 30px;
  margin: 0;
}

.footer-line {
  border-top: 1px solid rgba(67,67,69,0.33);
}

/*------------------- End Footer -------------------*/
