body,
html {
  height: 100%;
  background-color: #F5F5F5;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

.container {
  width: 80%;
}

#wrapper {
  min-height: 100%;
}

.app {
  overflow: auto;
  margin-bottom: 5px;
  padding-bottom: 80px;

  h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  p,
  ul {
    font-size: 13px;
    color: #777777;
  }
}

.fa-nav-padding-right {
  padding-right: 7px;
}

.fa-carat-padding-left {
  padding-left: 5px;
}

.no-gutter {
  &-left {
    padding-left: 0;
    padding-right: 0;
  }

  &-right {
    padding-right: 0;
    padding-left: 0;
  }
}


@media screen and (min-width:730px) {
  .row-flex,
  .row-flex > div[class*='col-'] {
    display: flex;
    flex: 1 100%;
  }

  .container-flex > div[class*='col-'] div,
  .row-flex > div[class*='col-'] div {
    width: 100%;
  }

  .no-gutter {
    &-left {
      padding-left: 0;
      padding-right: 12px;
    }

    &-right {
      padding-right: 0;
      padding-left: 12px;
    }
  }
}

/*------------------- End layouts -------------------*/
