

.table {
  &-header {
    margin: 0;
  }

  th {
    color: $darkGrey;
    font-size: 14px;
    font-weight: normal;
    border-width: 0 !important;
  }

  tr td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-width: 0 !important;
    border-bottom: 1px solid #ccc !important;
  }

  tr th:nth-child(2) {
    text-align: center;
  }

  tr th:nth-child(3) {
    text-align: left;
  }

  tr td:nth-child(1) {
    width: 40%;
    text-transform: uppercase;
  }

  tr td:nth-child(2) {
    color: $darkGrey;
  }

  td i {
    margin: 0 10px;
  }

  a {
    color: $darkGrey;
    font-weight: bold;
  }
}

.scroll-table {
  height: 250px !important;
  overflow-y: scroll;
}
