@import './base/mixins';
// * {
//   background-color: rgba(0,0,0,.10);
//   border          : 1px dashed red !important;
// }

.carousel {
  &-inner {
    height: 280px;
  }

  &-indicators {
    li {
      border-color: #A3A2A2;
      padding: 0 !important;
    }

    li.active {
      background-color: #A3A2A2;
    }
  }

  .item {
    height: 220px;
  }
}

#incomingCarousel{
  .carousel {
    &-inner {
      height: 138px;
    }
    .item {
      height: 140px;
    }
  }
}

body,
html {
  height: 100%;
  background-color: #F5F5F5;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

.fa-nav-padding-right {
  padding-right: 7px;
}

.fa-carat-padding-left {
  padding-left: 5px;
}

.container {
  width: 80%;
}

.table {
  &-header {
    margin: 0;
  }

  th {
    color: #A3A2A2;
    font-size: 14px;
    font-weight: normal;
    border-width: 0 !important;
  }

  tr td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-width: 0 !important;
    border-bottom: 1px solid #ccc !important;
  }

  tr th:nth-child(2) {
    text-align: center;
  }

  tr th:nth-child(3) {
    text-align: left;
  }

  tr td:nth-child(1) {
    width: 40%;
    text-transform: uppercase;
  }

  tr td:nth-child(2) {
    color: #A3A2A2;
  }

  td i {
    margin: 0 10px;
  }

  a {
    color: #A3A2A2;
    font-weight: bold;
  }
}

.scroll-table {
  height: 250px !important;
  overflow-y: scroll;
}

#wrapper {
  min-height: 100%;
}

nav {
  margin-bottom: 40px !important;

  a {
    color: white;
  }

  .container {
    padding: 0;
  }
}

.navbar {
  border-radius: 0 !important;
  padding-top: 10px;

  &-brand-image {
    padding-top: 16px;
    margin-right: 50px;
  }

  &-red {
    background: #C01823;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,0.30);
  }

  &-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
  }
  .dropdown-menu li{
    padding:5px 0;
  }
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
  color: white;
  border-bottom: 4px solid white;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: transparent;
}

.icon-bar {
  background-color: white;
}

.navbar-profile-dropdown {
  margin-top: -8px;
}

.navbar-profile-dropdown:focus,
.navbar-profile-dropdown:hover {
  border-bottom: 0 solid transparent !important;
}

.app {
  overflow: auto;
  margin-bottom: 5px;
  padding-bottom: 80px;

  h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  p,
  ul {
    font-size: 13px;
    color: #777777;
  }
}

.no-gutter {
  &-left {
    padding-left: 0;
    padding-right: 0;
  }

  &-right {
    padding-right: 0;
    padding-left: 0;
  }
}

.widget {
  border: 0 solid #979797;
  box-shadow: 4px 5px 6px 2px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  padding: 30px;
  position: relative;

  &-white-bg {
    background: #FFFFFF;
  }

  &-margin-bottom {
    margin-bottom: 25px;
  }

  &-close {
    position: absolute;
    right: 25px;
    font-size: 18px !important;
    color: #E0E0E0;
  }

  &-feature-img {
    margin: 0 auto;
  }

  &-feature-text {
    width: 65% !important;
    margin: 50px auto;
    text-align: center !important;
  }

  &-soon-feature-text {
    width: 75% !important;
    margin: 0 auto;
  }

  &-btn {
    border-radius: 2px;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: bold;
  }

  &-btn-red,&-btn-red:visited,&-btn-red:focus {
    background: #FFFFFF;
    border: 1px solid #C01823;
    color: #C01823;
  }

  &-btn-red:hover {
    background: #C01823;
    color: #fff;
  }

  &-btn-dl {
    margin-bottom: 50px;
  }

  &-btn-search-red {
    background: #C01823;
    border: 1px solid #C01823;
    color: #FFFFFF !important;
    height: 50px;
    width: 60px;
    box-shadow: -3px 0 8px 0 rgba(192,24,35,0.30);
    border-radius: 2px;

    i {
      font-size: 20px;
    }
  }

  &-btn-search-red:active,
  &-btn-search-red:focus {
    outline: none;
  }

  .btn:focus {
    outline: none;
  }

  &-sidebar {
    text-align: center;

    p {
      width: 90%;
      margin: 20px auto;
      text-align: left;
    }

    ul {
      padding: 0;
      width: 75%;
      font-size: 13px;
      margin: 0 auto;
      text-align: left;
    }

    li {
      padding: 5px 0;
    }
  }
}

.search {
  form {
    margin-top: 15px;
  }

  .input-bar {
    background: #F5F5F5;
    border: 0 solid #979797;
    box-shadow: inset 0 3px 5px 0 rgba(0,0,0,0.17);
    border-radius: 2px;
    height: 50px;
    padding: 10px 20px;
    position: relative;
  }
}

.date-picker {
  position: absolute;
  top: 15px;
  z-index: 45;
  right: 80px;
  border-width: 0;
  outline: none;
  background-color: transparent;
  color: #A3A2A2;
}

.netbasics {
  img {
    display: inline-block;
    margin-bottom: 25px;
  }
}

footer {
  position: relative;
  clear: both;
  margin-top: -80px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #979797;
}

footer p {
  padding: 30px;
  margin: 0;
}

.footer-line {
  border-top: 1px solid rgba(67,67,69,0.33);
}
@media screen and (min-width:991px) {
  .widget {
    &-margin-right {
      margin-right: 10px;
    }
  }
}
@media screen and (min-width:730px) {
  .row-flex,
  .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 100%;
  }

  .container-flex > div[class*='col-'] div,
  .row-flex > div[class*='col-'] div {
    width: 100%;
  }

  .no-gutter {
    &-left {
      padding-left: 0;
      padding-right: 12px;
    }

    &-right {
      padding-right: 0;
      padding-left: 12px;
    }
  }
}
