body {
  font-family: 'Lato', sans-serif;
  background-color: #F5F5F5;
}

html {
  background-color: #F5F5F5;
}

.app h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

.app p, .app ul {
  font-size: 13px;
  color: #777777;
}

.widget {
  border: 0 solid #979797;
  box-shadow: 4px 5px 6px 2px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  padding: 30px;
  position: relative;
}

.widget-white-bg {
  background: #FFFFFF;
}

.widget-margin-bottom {
  margin-bottom: 25px;
}

.widget-margin-right {
  margin-right: 10px;
}

.widget-close {
  position: absolute;
  right: 25px;
  font-size: 18px !important;
  color: #E0E0E0;
}

.widget-feature-img {
  margin-left: 25px;
}

.widget-feature-text {
  width: 65% !important;
  margin: 50px auto;
  text-align: center !important;
}

.widget-btn {
  border-radius: 2px;
  padding: 10px 25px;
  font-size: 13px;
  font-weight: bold;
}

.widget-btn-red {
  background: #FFFFFF;
  border: 1px solid #C01823;
  color: #C01823;
}

.widget-btn-red:hover {
  background: #C01823;
  color: #fff;
}

.widget-btn-dl {
  margin-bottom: 50px;
}

.widget-sidebar {
  text-align: center;
}

.widget-sidebar p {
  width: 90%;
  margin: 20px auto;
  text-align: left;
}

.widget-sidebar ul {
  padding: 0;
  width: 75%;
  font-size: 13px;
  margin: 0 auto;
  text-align: left;
}

.widget-sidebar li {
  padding: 5px 0;
}

.search form {
  margin-top: 15px;
}
