.row-flex,
.row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.container-flex > div[class*='col-'] div,
.row-flex > div[class*='col-'] div {
  width: 100%;
}

.no-gutter-left {
  padding-left: 0;
  padding-right: 12px;
}

.no-gutter-right {
  padding-right: 0;
  padding-left: 12px;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #F5F5F5;
  position: relative;
  min-height: 100%;
}

html {
  background-color: #F5F5F5;
  height: 100%;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #979797;
}

footer p {
  padding: 30px;
  margin: 0;
}

.footer-line {
  border-top: 1px solid rgba(67, 67, 69, 0.33);
}

.app h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

.app p,
.app ul {
  font-size: 13px;
  color: #777777;
}

.widget {
  border: 0 solid #979797;
  box-shadow: 4px 5px 6px 2px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  padding: 30px;
  position: relative;
}

.widget-white-bg {
  background: #FFFFFF;
}

.widget-margin-bottom {
  margin-bottom: 25px;
}

.widget-margin-right {
  margin-right: 10px;
}

.widget-close {
  position: absolute;
  right: 25px;
  font-size: 18px !important;
  color: #E0E0E0;
}

.widget-feature-img {
  margin-left: 25px;
}

.widget-feature-text {
  width: 65% !important;
  margin: 50px auto;
  text-align: center !important;
}

.widget-soon-feature-text {
  width: 75% !important;
  margin: 0 auto;
}

.widget-btn {
  border-radius: 2px;
  padding: 10px 25px;
  font-size: 13px;
  font-weight: bold;
}

.widget-btn-red {
  background: #FFFFFF;
  border: 1px solid #C01823;
  color: #C01823;
}

.widget-btn-red:hover {
  background: #C01823;
  color: #fff;
}

.widget-btn-dl {
  margin-bottom: 50px;
}

.widget-btn-search-red {
  background: #C01823;
  border: 1px solid #C01823;
  color: #FFFFFF !important;
  height: 50px;
  width: 60px;
  box-shadow: -3px 0 8px 0 rgba(192, 24, 35, 0.3);
  border-radius: 2px;
}

.widget-btn-search-red i {
  font-size: 20px;
}

.widget, .widget-btn-search-red:active, .widget-btn-search-red:focus {
  outline: none;
}

.widget .btn:focus {
  outline: none;
}

.widget-sidebar {
  text-align: center;
}

.widget-sidebar p {
  width: 90%;
  margin: 20px auto;
  text-align: left;
}

.widget-sidebar ul {
  padding: 0;
  width: 75%;
  font-size: 13px;
  margin: 0 auto;
  text-align: left;
}

.widget-sidebar li {
  padding: 5px 0;
}

.search form {
  margin-top: 15px;
}

.search .input-bar {
  background: #F5F5F5;
  border: 0 solid #979797;
  box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
  border-radius: 2px;
  height: 50px;
  padding: 10px 20px;
}

.netbasics img {
  margin-right: 10px;
}
